<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<h1>WEB TIN TUC POLY 2022</h1>

<h2><%= ten %></h2>

<h2><%= year %></h2>

<% for (var i =0;i < arr2.length; i++ )  {   %>

<h1> <%= arr2[i] %></h1>

<%   }  %>


</body>
</html>
